<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="mst_test">

	<test name="MST Service Testing">
		<classes>
		    <class name="xc.mst.manager.test.ScheduleServiceTest"/>            
		    <class name="xc.mst.manager.test.ProviderServiceTest"/>
		</classes>
	</test>
</suite>