<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="mst_test">

	<test name="MST Service Testing">
		<classes>
                    <class name="xc.mst.manager.test.ProviderServiceTest"/>
				    <class name="xc.mst.manager.test.ScheduleServiceTest"/> 
                    <class name="xc.mst.manager.test.ServerTest"/>  
				    <class name="xc.mst.manager.test.GroupsTest"/> 
                    <class name="xc.mst.manager.test.UsersTest"/> 
                    <class name="xc.mst.manager.test.ProcessingDirectivesTest"/> 
                    <class name="xc.mst.manager.test.GeneralLogsTest"/> 
                    <class name="xc.mst.manager.test.ServiceTest"/>
                    <class name="xc.mst.manager.test.BrowseRecordServiceTest"/>
                    <class name="xc.mst.harvester.test.HarvesterTest"/>
		            <class name="xc.mst.services.test.TestTransformation"/>
		</classes>
	</test>
</suite>