tomcat.dir=C:/dev/java/tomcat_6.0
mst.root.dir=c:/dev/xc/mst/svn/branches/bens_perma_branch/mst-service/impl/build/
dist.dir=../../dist/
mysql.home=c:/Program\ Files/MySQL/MySQL\ Server\ 5.1
db.insertsAtOnce=26000

ftp.server=
ftp.userid=
ftp.password=
