/* 
    Document   : processing_rules
    Created on : May 7, 2009, 10:01:25 AM
    Author     : tejaswih
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

listBox
{
    width:300px;
    font-family: verdana,sans-serif;
    font-size: 11px;
}

