<?xml version="1.0" encoding="iso-8859-1" ?>
<properties>
  <variables>
  </variables>
  <category name="general">
 
    <!-- Location of log4j properties for testing -->
    <property name="LoggerConfigFileLocation" value="src\java\log4j.config.txt" />

    <!-- Severity level which Solr logs -->
    <property name="SolrLogLevel" value="WARNING" />
    
    <!-- Either SingleThreaded or MultiThreaded depending on how the indexer should add records  -->
    <property name="SOLRIndexer" value="MultiThreaded" />
    
    <!-- The number of Threads a MultiThreaded indexer should use, default 10 -->
    <property name="SOLRIndexerMultiThreadCount" value="20" />
    
    <!-- The version of OAI that the MST's repositories support  -->
    <property name="OaiRepoProtocolVersion" value="2.0" />

    <!-- The MST's OAI repository's support for deleted records  -->
    <property name="OaiRepoDeletedRecord" value="transient" />
    
    <!-- The granularity at which the MST's OAI repositories track datestamps on records (YYYY-MM-DDThh:mm:ssZ or YYYY-MM-DD) -->
    <property name="OaiRepoGranularity" value="YYYY-MM-DDThh:mm:ssZ" />
    
    <!-- The compressions supported by the OAI repository (gzip;compress;deflate) -->
    <property name="OaiRepoCompression" value="gzip;compress;deflate" />
    
    <!-- The delimiter used in OAI identifiers on output records -->
    <property name="OaiRepoDelimiter" value=":" />
    
    <!-- The scheme of the OAI repository -->
    <property name="OaiRepoScheme" value="oai" />
    
    <!-- The maximum number of records returned by a ListIdentifiers request  -->
    <property name="OaiRepoMaxIdentifiers" value="50" />
    
    <!-- The maximum number of records returned by a ListRecords request  -->
    <property name="OaiRepoMaxRecords" value="50" />
    
    <!-- The maximum size in bytes of a ListIdentifiers response -->
    <property name="OaiRepoMaxIdentifiersLength" value="1000000" />
    
    <!-- The maximum size in bytes of a ListRecords response  -->
    <property name="OaiRepoMaxRecordsLength" value="1000000" />
    
    <!-- The name of folder under which multiple MST configuration folders are placed. This folder resides under tomcat working directory -->
    <property name="InstanceFolderName" value="MST-instances" />

    
  </category>
</properties>
