<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
		default-init-method="init">

	<bean name="MSTConfiguration" class="xc.mst.utils.MSTConfiguration" scope="singleton">
		<property name="locations">
			<list>
				<value>classpath:default.properties</value>
				<value>classpath:env.properties</value>
				<value>classpath:install.properties</value>
			</list>
		</property>
	</bean>

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="${DatabaseUrl}"/>
		<property name="username" value="${DatabaseUsername}"/>
		<property name="password" value="${DatabasePassword}"/>
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="5" />
		<property name="maxActive" value="5" />
	</bean>
	
	<bean name="DBRecordDao" class="xc.mst.manager.record.DBRecordDao" />
	
	<bean name="DBRecordService" class="xc.mst.manager.record.DBRecordService">
		<property name="recordDao" ref="DBRecordDao" /> 
	</bean>
	
	<bean name="DefaultRecordService" class="xc.mst.manager.record.DefaultRecordService"/>

	<bean name="Harvester" class="xc.mst.harvester.Harvester" scope="prototype">
		<property name="recordService" ref="${record.service}" />
	</bean>

</beans>