<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
           
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:custom.properties"/>
	</bean>

	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
		<property name="url" value="${ds.url}"/>
		<property name="username" value="${ds.username}"/>
		<property name="password" value="${ds.password}"/>
		<property name="maxIdle" value="10" />
		<property name="minIdle" value="5" />
		<property name="maxActive" value="5" />
	</bean>
	
	<bean name="DBRecordService" class="xc.mst.manager.record.DBRecordService" scope="prototype" />
	
	<bean name="DefaultRecordService" class="xc.mst.manager.record.DefaultRecordService" scope="prototype" />

	<bean name="Harvester" class="xc.mst.harvester.Harvester" scope="prototype">
		<property name="recordService" ref="${record.service}" />
	</bean>

</beans>